:root {
    --colorDarkestGray: #050505;
    --colorDarkerGray: #121212;
    --colorDarkGrey: #353535;
    --colorGray: #666666;
    --colorLightGray: #7f7f7f;
    --colorLighterGray: #999999;
    --colorLightestGray: #e5e5e5;
    --colorDirtyWhite: #f4f4f4;
    --colorPureWhite: white;
    --colorBlue: #087fe7;
    --shadowColorDark: rgba(0, 0, 0, 0.2);
    --shadowColorLight: rgba(0, 0, 0, 0.1);
    --fontSizeXXXXS: 12px;
    --fontSizeXXXS: 13px;
    --fontSizeXXS: 13.5px;
    --fontSizeXS: 14px;
    --fontSizeS: 15px;
    --fontSizeM: 18px;
    --fontSizeL: 24px;
    --fontSizeXL: 26px;
    --fontSizeXXL: 36px;
    --fontSizeXXXL: 45px;
    --fontSizeXXXXL: 53px;
    --fontWeightBoldest: 650;
    --fontWeightBolder: 550;
    --fontWeightBold: 450;
    --fontWeightLight: 400;
    --fontWeightLighter: 320;
}

@font-face {
    font-family: "Inter";
    src: url(material/Inter.ttf);
}


/* -- General Styling -- */
main {
    max-width: 1000px;
    margin: 100px auto;
}

section {
    padding: 50px 0;
    border-bottom: 2px solid var(--colorLightestGray);
}

h1 {
    font-size: var(--fontSizeXXXXL);
}

h2 {
    font-size: var(--fontSizeXXXL);
}

p {
    color: var(--colorLightGray);
    font-size: var(--fontSizeM);
}

body {
    width: 100%;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

/*-- Header --*/
header {
    background-color: var(--colorPureWhite);
    border-bottom: 2px solid var(--colorLightestGray);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
}

nav {
    margin-bottom: 10px;
    display: grid;
}

#navLeft {
    grid-template-columns: repeat(6, auto);
    align-items: center;
}

.barkyIcon {
    width: 100px;
    margin: 0;
}

#navRight {
    grid-template-columns: repeat(4, auto);
}

nav a {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: var(--colorDarkestGray);
    font-size: var(--fontSizeS);
}

nav img {
    margin-left: 10px;
    display: inline;
}

.barkyButton {
    padding: 10px;
    text-decoration: none;
    font-size: var(--fontSizeS);
    background-color: var(--colorDarkestGray);
    color: var(--colorPureWhite);
    font-weight: var(--fontWeightBolder);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 01);
}

#navVertLine {
    width: 100%;
    height: 50%;
    align-self: center;
    border-right: var(--colorLightestGray) solid 2px;
}

#hamburgerIcon {
    display: none;
}

/*-- Dropdown menu --*/
.navLeftTopContainer {
    position: relative;
    display: flex;
}

.navLeftBottomContainer {
    position: absolute;
    margin: 40px 0px 0px 5px;
    width: max-content;
    padding: 5px;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--colorPureWhite);
    box-shadow: -2px 2px 5px 2px var(--shadowColorLight), 2px 2px 5px 2px var(--shadowColorLight);
    display: none;
}

.navLeftBottomItem {
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
}

.navLeftProductItem {
    display: flex;
}

.navLeftBottomItem img {
    width: 20px;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--shadowColorLight)
}

.navLeftBottomContainer p {
    margin: 0;
    font-size: var(--fontSizeXXS)
}

.navLeftBottomItem {
    margin: 0;
    font-size: var(--fontSizeXXS);
    color: var(--colorDarkerGray);
    font-weight: var(--fontWeightBolder);
}

#dropDownItemLink {
    font-size: var(--fontSizeXXXXS);
}

#dropDownItemLink a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: var(--colorLightGray);
    font-size: var(--fontSizeXXXXS);
}

#dropDownItemLink {
    color: var(--colorLightGray);
}

.bottomNavFirstItemText p:nth-child(1) {
    color: var(--colorDarkerGray);
}

.bottomNavFirstItemText p:nth-child(2) {
    font-weight: initial;
}


/* -- Section 1 -- */
#section1 {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 0;
}

#section1div1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#section1img {
    flex-basis: 0;
}

#section1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#section1 h1 {
    margin: 0px;
    font-size: var(--fontSizeXXXL);
}

#section1 p {
    margin: 0px 0px 10px 0px;
    font-size: var(--fontSizeS);
    width: 80%;
}

#section1 a {
    width: max-content;
}

#section1div1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* -- Section 2 (icon) -- */
#section2 {
    border-bottom: 0px;
    padding: 0;
}

#iconSection {
    margin: 50px 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid var(--colorLightestGray);
    border-bottom: 2px solid var(--colorLightestGray);
}

#iconSection img {
    max-width: 100px;
    object-fit: contain;
    align-items: center;
    margin: 10px 15px;
}


/* -- Section 3 -- */
.uspIntro {
    max-width: 55%;
}

.uspIntro h2 {
    margin: 0;
    font-size: var(--fontSizeXXL);
}

.uspSectionQuote {
    color: var(--colorLightGray);
    max-width: 95%;
    margin: auto;
    text-align: center;
}

.uspSection img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 5px var(--shadowColorLight);
}

.uspSectionQuote h2 {
    color: var(--colorLighterGray);
    font-size: var(--fontSizeXXL);
    font-weight: var(--fontWeightBolder);
}

#rufusQuote {
    text-align: justify;
}

.uspFriends {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.uspFriends>div>* {
    margin: 5px;
}

.uspFriends>div {
    align-content: center;
    text-align: left;
}

.uspFriends h3 {
    font-weight: var(--fontWeightBolder);
}

.uspFriends img {
    box-shadow: none;
    width: auto;
    height: 70px;
    align-self: center;
}


/* -- Section 4 -- */
#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#freePlan {
    width: 550px;
    text-align: center;
}

#freePlan h2 {
    margin-bottom: 0;
    font-weight: var(--fontWeightBoldest);
}

#freePlan p {
    margin: 10px 0px 30px 0px;
}

#checklist {
    width: 600px;
    padding: 20px 30px;
    margin: 80px 0px 50px 0px;
    border-radius: 5px;
    background-color: var(--colorDirtyWhite);
    color: var(--colorGray);
    display: flex;
    flex-direction: column;
}

#checklist p {
    margin: 10px;
}

#rightItemCheckList {
    color: var(--colorDarkestGray);
}

#checklist>div {
    border-bottom: solid var(--colorLightestGray) 2px;
    display: flex;
    justify-content: space-between;
    /* Ta bort border bottom sista item** */
}

#checklist>div:last-child {
    border-bottom: 0px;
}

#checklist img {
    width: 15px;
}


/* -- Section 5 -- */
#section5 {
    text-align: center;
    border: 0px;
    padding-bottom: 0px;
    margin: 0;
}

#teamDiv {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#section5Div1 h2 {
    margin: 0;
    font-size: var(--fontSizeXXXL);
}

#teamDiv a {
    color: black;
}

#teamDivMiddle {
    padding: 0 20px;
    border-left: 2px solid var(--colorLightestGray);
    border-right: 2px solid var(--colorLightestGray);
}

#dogLoveDiv {
    text-align: left;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

#dogLoveDivText h3 {
    font-size: var(--fontSizeL);
    margin-bottom: 0;
}

#dogLoveDivText p {
    color: var(--colorDarkGrey);
}

#dogLoveDivText a {
    color: var(--colorDarkGrey);
}

#dogLoveDiv img {
    width: 100%;
    object-fit: contain;
}

.statisticsDiv {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.statisticsDiv h1 {
    margin: 0;
    color: var(--colorGray);
}

.statisticsDiv p {
    margin: 5px;
}

.statisticsDiv div {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 2px solid var(--colorLightestGray);
}

#statisticsItem4 {
    border: 0;
}

#barkyDiv {
    margin-top: 100px;
}

#barkyDiv h2 {
    margin-bottom: 0;
    font-weight: var(--fontWeightBoldest);
}

#barkyDiv a {
    display: inline-block;
}



/* -- Footer -- */
footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid var(--colorLightestGray);
    margin: 0px 20px;
}

footer h4 {
    font-weight: var(--fontWeightBolder);
    margin: 0;
}

footer a {
    color: var(--colorGray);
    text-decoration: none;
}

#footerSection {
    max-width: 1200px;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 100px 100px 30px 100px;
    border-bottom: 0px;
}

#footerBarky {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#footerBarky p {
    margin: 0;
}

footer .barkyIcon {
    width: 50%;
}

.footerColumns {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footerShare {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

#footerShare img {
    width: auto;
}


/*-- User interaction--*/
nav a:hover {
    background-color: var(--colorDirtyWhite);
    border-radius: 5px;
    transition: 200ms;
}

.barkyButton:hover {
    background-color: var(--colorDarkGrey);
    transition: 100ms;
}

.navLeftTopContainer:hover .navLeftBottomContainer {
    display: flex;
}

.navLeftBottomItem:hover {
    background-color: var(--colorDirtyWhite);
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
    transition: 200ms;
}

#dropDownItemLink:hover {
    background-color: var(--colorPureWhite);
}

#dropDownItemLink a:hover {
    color: var(--colorBlue);
    background-color: var(--colorPureWhite);
}


/*-- Media queries --*/
@media (max-width: 1080px) {
    nav a {
        display: none;
    }

    main {
        width: calc(100% - 10%);
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }

    .barkyButton {
        display: inline;
    }

    #hamburgerIcon {
        justify-self: center;
        object-fit: contain;
        object-position: center;
        width: 30px;
        padding-right: 20px;
        display: block;
    }

    #navVertLine {
        display: none;
    }

    /*-- Section 1 --*/
    #section1 {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    #section1div1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section1img {
        width: calc(100% - 40%);
    }

    /*-- Section 3 --*/
    .uspSectionQuote h2 {
        text-align: center;
    }

    .uspFriends img {
        width: auto;
        height: 50px;
    }

    .uspFriends h3 {
        font-size: var(--fontSizeXXS);
    }

    .uspFriends p {
        font-size: var(--fontSizeXXS);
    }


    /*-- Section 5 --*/
    #section5Div1 h2 {
        font-size: var(--fontSizeXXL);
    }

    #section5Div1 p {
        font-size: var(--fontSizeS);
        margin-top: 5px;
    }

    #section5div3 h1 {
        font-size: var(--fontSizeXXL);
        font-weight: var(--fontWeightBoldest);
    }

    #dogLoveDiv {
        gap: 30px;
    }

    #dogLoveDivText p {
        font-size: var(--fontSizeS);
    }

    #teamDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #teamDivMiddle {
        border: 0;
    }

    .statisticsDiv {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "item1 item2"
            "item3 item4";
    }

    .statisticsDiv div {
        border: 0;
    }

    #statisticsItem1 {
        grid-area: item1;
    }

    #statisticsItem2 {
        grid-area: item2;
    }

    #statisticsItem3 {
        grid-area: item3;
    }

    #statisticsItem4 {
        grid-area: item4;
    }

    /* -- Footer -- */
    footer {
        justify-content: left;
    }

    footer .barkyIcon {
        width: 20%;
    }

    #footerShare {
        width: 20%;
        margin: 30px 0px;
    }

    #footerSection {
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "barkyInfo barkyInfo"
            "company download"
            "resources barkyFor";
    }

    #footerBarky {
        grid-area: barkyInfo;
        gap: 10px;
    }

    #footerBarky p {
        font-size: var(--fontSizeXS);
        color: var(--colorDarkGrey);
        margin-top: 10px;
    }

    #companyColumn {
        grid-area: company;
    }

    #downloadColumn {
        grid-area: download;
    }

    #resourcesColumn {
        grid-area: resources;
    }

    #barkyColumn {
        grid-area: barkyFor;
    }
}

@media (max-width:599px) {
    header {
        padding: 0px 20px;
        right: 0;
        left: 0;
        border: 0;
    }

    #section1img {
        width: calc(100% - 20%);
    }

    #section1div1 h1 {
        width: 80%;
    }

    #section1div1 p {
        font-size: var(--fontSizeM);
        width: 90%;
    }

    #navVertLine {
        display: none;
    }

    #barkyButtonID {
        display: none;
    }

    #section3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .uspIntro {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .uspIntro div>p {
        font-weight: var(--fontWeightLight);

    }

    .uspSectionQuote h2 {
        font-size: var(--fontSizeXL);
    }

    #checklist {
        width: calc(100% - 20%);
    }

    #teamDiv {
        display: flex;
        flex-direction: column;
    }

    #dogLoveDiv {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
    }

    .statisticsDiv {
        display: flex;
        flex-direction: column;
    }
}