:root {
    --colorDarkestGray: #050505;
    --colorDarkerGray: #121212;
    --colorDarkGrey: #353535;
    --colorGray: #666666;
    --colorLightGray: #7f7f7f;
    --colorLighterGray: #999999;
    --colorLightestGray: #e5e5e5;
    --colorDirtyWhite: #f4f4f4;
    --colorBlue: #087fe7;
    --shadowColorDark: rgba(0, 0, 0, 0.2);
    --shadowColorLight: rgba(0, 0, 0, 0.1);
    --fontSizeXXXXS: 12px;
    --fontSizeXXXS: 13px;
    --fontSizeXXS: 13.5px;
    --fontSizeXS: 14px;
    --fontSizeS: 15px;
    --fontSizeM: 18px;
    --fontSizeL: 24px;
    --fontSizeXL: 26px;
    --fontSizeXXL: 36px;
    --fontSizeXXXL: 45px;
    --fontSizeXXXXL: 53px;
    --fontWeightBoldest: 650;
    --fontWeightBolder: 550;
    --fontWeightBold: 450;
    --fontWeightLight: 400;
    --fontWeightLighter: 320;
}

@font-face {
    font-family: "Inter";
    src: url(material/Inter.ttf);
}

h1 {
    font-size: var(--fontSizeXXXXL);
}

h2 {
    font-size: var(--fontSizeXXXL);
}

p {
    color: var(--colorLightGray);
    font-size: var(--fontSizeM);
}

body {
    width: 100%;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    border-bottom: 2px solid var(--colorLightestGray);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
}

nav {
    margin-bottom: 10px;
    display: grid;
}

#navLeft {
    grid-template-columns: repeat(6, auto);
    align-items: center;
}

.barkyIcon {
    width: 100px;
    margin: 0;
}

#navRight {
    grid-template-columns: repeat(4, auto);
}

nav a {
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: var(--fontSizeS);
}

nav img {
    margin-left: 10px;
    display: inline;
}

.barkyButton {
    padding: 10px;
    text-decoration: none;
    font-size: var(--fontSizeS);
    background-color: black;
    color: white;
    font-weight: var(--fontWeightBolder);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 01);
}

#navVertLine {
    width: 100%;
    height: 50%;
    align-self: center;
    border-right: var(--colorLightestGray) solid 2px;
}

#hamburgerIcon {
    display: none;
}

/*-- Dropdown menu --*/

.navLeftTopContainer {
    position: relative;
}

.navLeftBottomContainer {
    position: absolute;
    width: max-content;
    padding: 5px;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    box-shadow: -2px 2px 5px 2px var(--shadowColorLight), 2px 2px 5px 2px var(--shadowColorLight);
    display: none;
}

.navLeftBottomItem {
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
}

.navLeftProductItem {
    display: flex;
}

.navLeftBottomItem img {
    width: 20px;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--shadowColorLight)
}

.navLeftBottomContainer p {
    margin: 0;
    font-size: var(--fontSizeXXS)
}

.navLeftBottomItem {
    margin: 0;
    font-size: var(--fontSizeXXS);
    color: var(--colorDarkerGray);
    font-weight: var(--fontWeightBolder);
}

#dropDownItemLink {
    font-size: var(--fontSizeXXXXS);
}

#dropDownItemLink a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: var(--colorLightGray);
    font-size: var(--fontSizeXXXXS);
}

#dropDownItemLink {
    color: var(--colorLightGray);
}

.bottomNavFirstItemText p:nth-child(1) {
    color: var(--colorDarkerGray);
}

.bottomNavFirstItemText p:nth-child(2) {
    font-weight: initial;
}

/*-- /End dropdown menu -- */


main {
    max-width: 1000px;
    margin: 100px auto;
}

section {
    padding: 50px 0;
    border-bottom: 2px solid var(--colorLightestGray);
}

/* -- Section 1 -- */
#section1 {
    display: flex;
    border-bottom: 0px;
}

#section1 img {
    width: 500px;
}

#iconSection {
    margin: 50px 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid var(--colorLightestGray);
    border-bottom: 2px solid var(--colorLightestGray);
}

#iconSection img {
    max-width: 100px;
    object-fit: contain;
    align-items: center;
    margin: 10px 15px;
}

/* -- Section 2 -- */
#section2 {
    border-bottom: 0px;
    padding: 0;
}

/* -- Section 3 -- */
.uspSection img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 20px 20px 20px 20px var(--shadowColorLight);
}

.uspIntro {
    max-width: 450px;
    margin: 50px 0;
}

.uspSectionQuote {
    color: var(--colorLightGray);
    max-width: 95%;
    margin: auto;
    text-align: center;
}

.uspSectionQuote h2 {
    font-size: var(--fontSizeXXL);
    font-weight: var(--fontWeightBolder);
}

#rufusQuote {
    text-align: justify;
}

.uspFriends {
    display: flex;
    justify-content: center;
}

.uspFriends>div>* {
    margin: 5px;
}

.uspFriends>div {
    align-content: center;
}

.uspFriends img {
    box-shadow: none;
    width: auto;
    height: 70px;
    align-self: center;
}

/* -- Section 4 -- */
#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#freePlan {
    width: 550px;
    text-align: center;
}

#freePlan h2 {
    margin-bottom: 0;
}

#freePlan p {
    margin-bottom: 30px;
}

#checklist {
    width: 600px;
    padding: 20px 30px;
    margin: 80px 0px 50px 0px;
    border-radius: 5px;
    background-color: var(--colorDirtyWhite);
    color: var(--colorGray);
    display: flex;
    flex-direction: column;
}

#rightItemCheckList {
    color: black;
}

#checklist>div {
    border-bottom: solid var(--colorLightestGray) 2px;
    display: flex;
    justify-content: space-between;
    /* Ta bort border bottom sista item** */
}

#checklist>div:last-child {
    border-bottom: 0px;
}

#checklist img {
    width: 15px;
}

/* -- Section 5 -- */
#section5 {
    text-align: center;
    border: 0px;
    padding-bottom: 0px;
    margin: 0;
}

#teamDiv {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#section5Div1 h2 {
    margin: 0;
    font-size: var(--fontSizeXXXL);
}

#teamDiv a {
    color: black;
}

#teamDivMiddle {
    padding: 0 20px;
    border-left: 2px solid var(--colorLightestGray);
    border-right: 2px solid var(--colorLightestGray);
}

#dogLoveDiv {
    text-align: left;
    display: flex;
    gap: 20px;
}

#dogLoveDiv div {
    width: 50%;
}

#dogLoveDivText h3 {
    font-size: var(--fontSizeL);
    margin-bottom: 0;
}

#dogLoveDivText a {
    color: var(--colorLightGray);
}

#dogLoveDiv img {
    width: 50%;
}

.statisticsDiv {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.statisticsDiv h1 {
    margin: 0;
    color: var(--colorGray);
}

.statisticsDiv p {
    margin: 5px;
}

.statisticsDiv div {
    flex-basis: 0;
    flex-grow: 1;
    border-right: 2px solid var(--colorLightestGray);
}

#statisticsItem4 {
    border: 0;
}

#barkyDiv {
    margin-top: 100px;
}

#barkyDiv h2 {
    margin-bottom: 0;
    font-weight: var(--fontWeightBolder);
}

#barkyDiv a {
    display: inline-block;
    }

/* -- Footer -- */
footer {
    display: flex;
    border-top: 2px solid var(--colorLightestGray);
}

footer a {
    color: var(--colorGray);
    text-decoration: none;
}

#footerSection {
    width: 100%;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 100px 100px 30px 100px;
    border-bottom: 0px;
}

#footerBarky {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footerColumns {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footerShare {
    display: flex;
    gap: 8px;
}

#footerShare img {
    width: 15px;
}


/*-- Användarinteraktion --*/
nav a:hover {
    background-color: #f4f4f4;
    border-radius: 5px;
    transition: 200ms;
}

.barkyButton:hover {
    background-color: #353535;
    transition: 100ms;
}

footer a:hover {
    text-decoration: underline;
    transition: 200ms;
}

/*-- Media queries --*/

@media (max-width: 1080px) {
    nav a {
        display: none;
    }

    main {
        width: calc(100% - 10%);
    }

    .barkyButton {
        display: inline;
    }

    #hamburgerIcon {
        justify-self: center;
        object-fit: contain;
        object-position: center;
        width: 30px;
        padding-right: 20px;
        display: block;
    }

    #navVertLine {
        display: none;
    }

    #section1 {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    #teamDiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #teamDivMiddle {
        border: 0;
    }

    .statisticsDiv {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "item1 item2"
            "item3 item4";
    }

    .statisticsDiv div {
        border:0;
    }

    #statisticsItem1 {
        grid-area: item1;
    }

    #statisticsItem2 {
        grid-area: item2;
    }

    #statisticsItem3 {
        grid-area: item3;
    }

    #statisticsItem4 {
        grid-area: item4;
    }

    #footerSection {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "barkyInfo barkyInfo"
            "company download"
            "resources barkyFor";
    }

    #footerBarky {
        grid-area: barkyInfo;
        gap: 10px;
    }

    #companyColumn {
        grid-area: company;
    }

    #downloadColumn {
        grid-area: download;
    }

    #resourcesColumn {
        grid-area: resources;
    }

    #barkyColumn {
        grid-area: barkyFor;
    }
}

 @media (max-width:599px) {
    header {
        padding: 0px 20px;
        right: 0;
        left: 0;
    }

    #navVertLine {
        display: none;
    }

    #barkyButtonID {
        display: none;
    }

    #section3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .uspIntro {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    #checklist {
        width: calc(100% - 20%);
    }

    #teamDiv {
        display: flex;
        flex-direction: column;
    }

    #dogLoveDiv {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: center;
    }

    .statisticsDiv {
        display: flex;
        flex-direction: column;
    }
} 